; [submodule "src/main/resources/config"]
; 	path = src/main/resources/config
; 	url = git@github.com:EnergyTajo/Config.git

[submodule "src/main/resources/config"]
path = src/main/resources/config
url = https://github.com/EnergyTajo/Config.git
